<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>{{ _target.title }} - {{ _config.project.title }}</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--[if (gt IE 9) | (IEMobile)]><!-->
  <link href="{{ path '/assets/main.css' }}" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


<!--<![endif]-->
<!--[if (lte IE 9) & (!IEMobile)]>
<link href="{{ path '/assets/css/fixed.css' }}" rel="stylesheet">
<![endif]-->

<!--[if gt IE 8]><!-->
<script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
<!--<![endif]-->

<script>
  window.__EQ_SESSION_TIMEOUT__ = 18;
  window.__EQ_SESSION_TIMEOUT_PROMPT__ = 12;
</script>

</head>
<body>
  <style>
  body{
    font-family: 'Open Sans', sans-serif;
  }
  /*Margins*/
  .m-top{margin-top: 15px;}
  /*Margins end*/
  .ns{box-shadow: none!important;border-radius: 0px!important;}
  .setting{width: auto!important;min-width: 160px;padding-left: 44px!important;}
  .location{    padding-left: 44px!important;}
  .play{     min-width: 120px;width: auto!important;   padding-left: 44px!important;}
  .pause{     min-width: 140px;width: auto!important;   padding-left: 44px!important;}
  .play::before{
  content: "\f144";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-rendering: auto;
  left:23px;
  top: 9px;
  font-size: 1.3em;
  position: absolute;
  -webkit-font-smoothing: antialiased;
  }
  .pause::before{
  content: "\f28b";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-style: normal;
  top: 9px;
  font-size: 1.3em;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
  left:23px;
  position: absolute;
  -webkit-font-smoothing: antialiased;
  }
  .location::before{
  content: "\f3c5";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  top: 9px;
  font-size: 1.3em;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  left:23px;
  position: absolute;
  -webkit-font-smoothing: antialiased;
  }
  .setting::before{
  content: "\f013";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  left:23px;
  top: 9px;
  font-size: 1.3em;
  position: absolute;
  -webkit-font-smoothing: antialiased;
  }

  .ns:active{top:0!important;}
  .green{background-color: #008e49!important;box-shadow: 0 3px 0 0 #015f31;}
  .green:hover{background-color: #00784a!important;}
  .blue{background-color: #174363!important;box-shadow: 0 3px 0 0 #072d49;}
  .blue:hover{background-color: #124d80!important;}
  .btn:hover{color: white;}
  .btn:active{top: 3px;}
  .btn:active:focus{outline: none;}
  .btn:focus{ color: white;  outline: none;
    /*box-shadow: 0 0 0 3px #ff9600;
    filter: none;
  color: white;*/}
  /*.btn:focus{border: 3px solid #fe781f; outline: none!important; box-shadow: none;color: white;}*/
  .btn{
  position: relative;
  padding: 12px 18px;
  margin: 0;
  color: #fff;
  font-size: 1.3em!important;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2px!important;
  display: inline-block;
  text-rendering: optimizeLegibility;
  width: 100%;
  transition: background-color .2s ease-in,color .2s ease-in,border .2s ease-in;
  }

</style>
{{{yield}}}

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
