<!--Buttons General-->

<div class="row" style="margin:0 0 15px 0;">
  <div class="col-sm-3 col-xs-12">
  <p class="m-top">{{ text }}</p>

  <div style="display:block;">
    <button class="btn green">{{button}}</button>
  </div>
  <p class="m-top">{{ text-sec }}</p>
    <div style="display:block;">
      <button class="btn blue">{{button}}</button>
    </div>
</div>

<div class="col-sm-3 col-xs-12">
  <p class="m-top">{{ text-origin }}</p>
    <button class="btn ns green">{{button}}</button>
  <p class="m-top">{{ text-sec-origin }}</p>
    <button class="btn ns blue">{{button}}</button>
</div>
</div>

<!--Function Buttons-->

<div class="row" style="margin:0 0 15px 0;">

  <div class="col-sm-3 col-xs-12">
  <p class="m-top">{{ text-settings }}</p>
  <button class="btn ns green setting">Settings</button>
  </div>
  <div class="col-sm-3 col-xs-12">
  <p class="m-top">{{ text-location }}</p>
  <button class="btn ns green location">Current Location</button>
  </div>

</div>
<div class="row" style="margin:0 0 15px 0;">

  <div class="col-sm-3 col-xs-12">
  <p class="m-top">{{ text-play }}</p>
  <button class="btn ns green play">Play</button>
  </div>
  <div class="col-sm-3 col-xs-12">
  <p class="m-top">{{ text-pause }}</p>
  <button class="btn ns green pause">Pause</button>
  </div>

</div>
