<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Preview Layout</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.ons.gov.uk/sixteens/a62dd01/css/main.css">
  <link rel="stylesheet" href="{{ path '/css/global.css' }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <style>
    .collator-item {
      margin-bottom: 2rem;
    padding-left: 10px;
    margin-top: 15px;
    }
.collator-title{
  margin-bottom: 10px;
  font-size: 1.3em;
}
  </style>
<body>

  {{{ yield }}}

</body>

<!--Scripts-->
<!--<script src="{{ path '/assets/scripts/bundle.js' }}" charset="utf-8"></script>-->
<script src="{{ path '/js/copy.js' }}" charset="utf-8"></script>
<script src="{{ path '/js/script.js' }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script>
$('.input-group > *').focus(function() {
        $('.input-group').addClass('focus');
    })
    .blur(function() {
        $('.input-group').removeClass('focus');
    });
</script>

<script>
var maxLength = 100;
$('textarea').keyup(function() {
  var length = $(this).val().length;
  var length = maxLength-length;
  $('#char-count').text(length);
});
</script>
</html>
