<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Preview Layout</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.ons.gov.uk/sixteens/a62dd01/css/main.css">
  <link rel="stylesheet" href="{{ path '/css/global.css' }}">
  <script src="https://cdn.ons.gov.uk/vendor/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdn.ons.gov.uk/vendor/d3/4.2.7/d3.js"></script>

  <script src="../../js/chosen.jquery.js"></script>
  <link href="../../css/chosen.css" rel="stylesheet" />
  <link href="../../fontawesome/css/all.css" rel="stylesheet" />

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  <style>
    .collator-item {
    padding-left: 10px;
    }
    .collator-title{
      margin-bottom: 10px;
      font-size: 1.3em;
    }
    .Preview-iframe{
      top:20px;
      left:20px;
      width: 90%!important;
    }
    fieldset{
      padding-left: 5px;
    }
  </style>
<body>

  {{{ yield }}}

</body>


<!--<script src="{{ path '/assets/scripts/bundle.js' }}" charset="utf-8"></script>-->
<script src="{{ path '/js/copy.js' }}" charset="utf-8"></script>
<script src="{{ path '/js/script.js' }}"></script>


<script>
$('.input-group > *').focus(function() {
        $('.input-group').addClass('focus');
    })
    .blur(function() {
        $('.input-group').removeClass('focus');
    });
</script>

<script>
var maxLength = 100;
$('textarea').keyup(function() {
  var length = $(this).val().length;
  var length = maxLength-length;
  $('#char-count').text(length);
});
</script>
<script>
      document.getElementById("plus").addEventListener("click", function() {
        var typenumber = document.getElementById("typenumber").value
        document.getElementById("typenumber").value = +typenumber + 1
      })
      document.getElementById("minus").addEventListener("click", function() {
        if (document.getElementById("typenumber").value > 0) {
          var typenumber = document.getElementById("typenumber").value
          document.getElementById("typenumber").value = +typenumber - 1
        }
      })
    </script>

</html>
