<div class="col-sm-3 col-xs-12">
  <p class="m-top">{{ text }}</p>
  <div style="position:relative;">
    <button class="btn green">{{button}}</button>
  </div>
  <p class="m-top">{{ text-sec }}</p>
    <div style="position:relative;">
      <button class="btn blue">{{button}}</button>
    </div>
</div>

<div class="col-sm-3 col-xs-12">
  <p class="m-top">{{ text-origin }}</p>
    <button class="btn ns green">{{button}}</button>
  <p class="m-top">{{ text-sec-origin }}</p>
    <button class="btn ns blue">{{button}}</button>
</div>
